
.icon-coins:before { content: '\e801'; } /* '' */
.icon-circle:before { content: '\e802'; } /* '' */
.icon-user-arrow:before { content: '\e803'; } /* '' */
.icon-user-heart:before { content: '\e804'; } /* '' */
.icon-graph:before { content: '\e805'; } /* '' */
.icon-filter:before { content: '\e806'; } /* '' */
.icon-activity:before { content: '\e807'; } /* '' */
.icon-setting:before { content: '\e808'; } /* '' */
